body {
    font-family: monospace, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    background-image: linear-gradient(to bottom right, #FF0000, #FF9999); /* Red background gradient */
  }
  
  nav ul li a{
    color: white;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li::before {
    content: none; /* Remove the bullet point */
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  ul li::before {
    content: "•";
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  
  nav li{
    display: inline-block;
    padding-right: 20px;
  }
  
  ul, article, section{
    list-style: none;
    padding: 0;
    color: white;
  }
  
  
  li {
    margin-bottom: 10px;
  }
  
  li::before {
    content: "•";
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  li:first-child {
    margin-top: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  
  
  